body{
    margin: 0;
    padding: 15px;
    background-color:#0d0d0d;
    color:#e6e6e6;
    font-family: Consolas;
}
input, textarea{
    font-family: inherit;
    font-size:inherit;
    color:#e6e6e6;
    background-color:inherit;
    border:none;
    outline:none;
}
textarea{
    resize: none;
}
label{
    vertical-align: top;
    display: inline-block;
}
div > input, div > textarea {
    width:500px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color:inherit;
}
table.usage{
    margin-left:15px;
    margin-bottom:5px;
}
td{
    min-width:100px;
}
.hidden{
    display:none;
}
.header{
    width:100%;
    margin-bottom:15px;
    border-bottom:2px solid grey;
}
.indent{
    margin-left:20px;
}
.grey{
    color:#8c8c8c;
}
.red{
    color:red;
}
.green{
    color:#00e600;
}
.blue{
    color:#4da6ff;
}
